
<app-search-bar></app-search-bar>
<section class="bg-color" style="margin-top: 30px">
  <div class="containers">
    <div class="title">
      <p>My List of Seller</p>
      <h1><span>Seller</span> Items</h1>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let product of state.products">
        <div class="card">
          <div class="card-main">
            <div class="discount">{{product['category_id']}}</div>
            <div class="label label-green">{{product['state']}}</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)"><img src="https://i.imgur.com/Kz2bPI0.jpg" alt="Product"></div>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Image">
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <button
                  mat-button (click)="openDialogEdit(product['name'],product['idProduct'])" style="background: #555">
                  <i class="fa fa-pencil" ></i></button>
                <button
                  mat-button (click)="openDialogDelete(product['name'],product['idProduct'])"style="background: #555">
                  <i class="fa fa-trash "></i></button>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">{{product['name']}}</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">{{product['price']}}€</span></p>
          </div>
        </div>
      </div>
    </div>
    <app-prova2></app-prova2>
  </div>
</section>
