
<app-search-bar></app-search-bar>
<section class="bg-color" style="margin-top: 30px">
  <div class="containers">
    <div class="title">
      <p>My List of</p>
      <h1>PUBLISHED <span>Products</span></h1>
    </div>
    <div class="row" style="margin-bottom: 1%;">
      <div class="col-md-3" *ngFor="let product of state.products">
        <div class="card" style="width: 18rem; margin-bottom: 5%">

          <img class="card-img-top" style="height: 15rem" src="https://ubending.s3.eu-west-3.amazonaws.com/product{{ product['product_id'] }}.{{ product['image'] }}" alt="">
          <div class="card-body">
            <h5 class="card-title">{{product['name']}}</h5>
            <p class="card-text">{{product['price']}}€</p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div style="margin-bottom: 5%;" class="text-center">
                <button style="margin-right: 2%;" class="btn btn-primary" (click)="openDialogEdit(product['name'],product['product_id'])">EDIT</button>
                <button style="margin-left: 2%;" class="btn btn-danger" (click)="openDialogDelete(product['name'],product['product_id'],product['image'])">DELETE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-prova2></app-prova2>
  </div>
</section>
