<div class="wrapper">
  <button class="transparent-button" (click)="onClickHome()" routerLink="/home">
    <img src="https://i.imgur.com/skLo9Yb.png">
  </button>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="userEmail" action="#">
        <h1>Create Account</h1>
        <input [class.is-invalid]="emailUser!.invalid && emailUser!.touched" class="form-control" formControlName="email" type="email" placeholder="Email" id="email-signup"/>
        <input [class.is-invalid]="passwordUser!.invalid && passwordUser!.touched" class="form-control" formControlName="password" type="password" placeholder="Password" id="password-signup"/>
        <input [class.is-invalid]="confirmPasswordUser" class="form-control" formControlName="confirmPassword" type="password" placeholder="Repeat password" id="rep-password-signup"/>
        <button style="margin-top: 20px" (click)="onClickSignUp()">Sign Up</button>
        <small *ngIf="showAlertRequired" class="text-danger">All fields are required</small>
        <!--question mark(?) is a safe navigator operator-->
        <small *ngIf="showAlertInvalidEmail" class="text-danger">Please provide a valid email address</small>
        <small *ngIf="showAlertInvalidPassword" class="text-danger">Please provide a valid password(8 characters in length,Lowercase letters,Uppercase letters,Numbers)</small>
        <small *ngIf="showAlertDiferentPassword" class="text-danger">Please provide the same password</small>
        <small *ngIf="showAlertErrorBE" class="text-danger">{{errorBE}}</small>

      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Sign in</h1>
        <input type="email" placeholder="Email" id="email_signin"/>
        <input type="password" placeholder="Password" id="password_signin"/>
        <a href="#" (click)="onClickForgot()" routerLink="/recover">Forgot your password?</a>
        <button (click)="onClickSignIn()">Sign In</button>
        <small *ngIf="showAlertErrorLoginBE" class="text-danger">{{errorLoginBE}}</small>

      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1 style="color: #7E68C1">Welcome Back!</h1>
          <p>To keep connected with buyers and sellers please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1 style="color: #7E68C1">Hey there!</h1>
          <p>Enter your personal details to start selling and buying tons of items </p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

