<form>
  <body>
  <div id = "block_container">
    <div id="div1" class="topnav" style = "width: 60%">
      <img src="../../assets/transparent-logo.png"
           width="20"
           height="20"
           style="margin-top:15px;
          display: inline-block;
                margin-left:15px">
      <input class="form-control"
             style="border: 2px solid #7E68C1;
            display: inline-block;
          font-size: 20px;
          width: 60%;
          margin: 8px 0;
          margin-left:15px;
          border-radius: 12px;"
      >
      <button (click)="search()"
              type="button"
              style="background-color: #F0EDFF;
    border: 2px solid #7E68C1;
     display: inline-block;
    font-size: 20px;
    margin-left:15px;                        border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    ">Search</button>
    </div>
    <div  id ="cont_filter"
          style="cursor: pointer;
                 color: #F0EDFF;"
          (click)="filters()">
      <i class="fa fa-filter fa-2x"></i>
      <a style=" margin-left:5px;
                font-family: monospace;">FILTER</a>
    </div>

    <div id = "param_logged"
         style = " float:right;"
         *ngIf="isLogged">
      <div id = "cont_liked"
           style="  cursor: pointer;
                  color: #F0EDFF;"
           (click)="liked()">
        <i class="fa fa-star fa-2x"
           disabled = "!isActive"></i>
        <a style=" margin-left:5px;
                font-family: monospace;">LIKED</a>
      </div>
      <div id = "cont_chat"
           style=" margin-left:50px;
                 cursor: pointer;
                 color: #F0EDFF;"
           (click)="chat()">
        <i class="fa fa-comments fa-2x" ></i>
        <a style=" margin-left:5px;
                font-family: monospace;">CHAT</a>
      </div>
      <div id = "cont_products"
           style=" margin-left:50px;
                 color: #F0EDFF;
                 cursor: pointer;"
           (click)="products()">
        <i class="fa fa-clipboard fa-2x"></i>
        <a style=" margin-left:5px;
                font-family: monospace;">MY PRODUCTS</a>
      </div>
      <div id = "cont_profile"
           style=" margin-left:50px;
                 margin-right: 20px;
                 color: #F0EDFF;
                 cursor: pointer;"
           (click)="profile()"
           data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-id-badge fa-2x" ></i>
        <a style=" margin-left:5px;
                font-family: monospace;">PROFILE</a>
      </div>
    </div>
    <div id = "param_not_logged"
         *ngIf="!isLogged"
         style= "float:right;
               width: 300px;
               margin-top: 10px;
                 ">

      <button id = "btnLogIn" (click)="onClickLogged()"
              routerLink="/login-signup"
              type="button"
              style="background-color: #F0EDFF;
              border: 2px solid #7E68C1;
              font-size: 20px;
              width: 100%;

              border-radius: 12px;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
              "
      >LOG IN</button>
    </div>


  </div>
  </body>
</form>
