
#block_container
{
  background-color: #A7A5DB;
}
#div1 {

  overflow: hidden;
  display: inline-block;
  width: 50%;
  height: 50px;
}
#cont_filter,#cont_liked,#cont_chat,#cont_products,#cont_profile {
  overflow: hidden;
  height: 40px;
  display: inline-block;
}
#cont_filter:hover,#cont_liked:hover,#cont_chat:hover,#cont_products:hover,#cont_profile:hover{
  border-bottom: 3px solid #AC5E90 ;
}



