<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background: #A7A5DB">
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a>LOGO</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #F0EDFF;border: 2px solid #F0EDFF">Search</button>
    <div  id ="cont_filter"
          style="cursor: pointer;
                 color: #F0EDFF;
                  margin-left: 25px">
      <i class="fa fa-filter fa-2x" style="margin-bottom: 4px"></i>
      <a style="
                font-family: monospace;">FILTER</a>
    </div>
    <div id = "cont_liked"
         *ngIf="isLogged"
         style="  cursor: pointer;
                  color: #F0EDFF;
                  margin-left:75px;"
    >
      <i class="fa fa-star fa-2x"
         disabled = "!isActive"></i>
      <a style=" font-family: monospace;">LIKED</a>
    </div>
    <div id = "cont_chat"
         *ngIf="isLogged"
         style=" margin-left:25px;
                 cursor: pointer;
                 color: #F0EDFF;">
      <i class="fa fa-comments fa-2x" ></i>
      <a style=" margin-left:5px;
                font-family: monospace;">CHAT</a>
    </div>
    <div id = "cont_profile"
         *ngIf="isLogged"
         style=" margin-left:25px;
                 margin-right: 20px;
                 color: #F0EDFF;
                 border-color: #A7A5DB;
                 cursor: pointer;"
    >
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block" >
            <button class="btn btn-outline-primary" id="dropdownBasic1"data-bs-toggle="dropdown" ngbDropdownToggle style="color: #F0EDFF;border: 2px solid #F0EDFF">
              <i class = "fa fa-id-badge fa2x" style="color: #F0EDFF;"></i>
              <a style=" margin-left:5px;
                font-family: monospace;">PROFILE</a></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>EDIT PROFILE</button>
              <button ngbDropdownItem>MY PRODUCTS</button>
              <button ngbDropdownItem>LOG OUT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id = "param_not_logged"
         *ngIf="!isLogged"
         style= "float:right;
               width: 300px;
               margin-top: 10px;
                 ">

      <button id = "btnLogIn" (click)="onClickLogged()"
              type="button"
              style="background-color: #F0EDFF;
              border: 2px solid #7E68C1;
              font-size: 20px;
              width: 50%;
              margin-left: 50px;
              border-radius: 12px;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
              "
      >LOG IN</button>
    </div>
  </div>
</nav>
