/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

html{
  scroll-behavior: smooth;
}

/*----------Wave banner-----------*/

.banner-wrapper {
  position: relative;
  background: #646DCC;
  min-height: 70vh;
  background: -webkit-linear-gradient(top left, #7E68C1 0%,#A7A5DB 100%);
  background: -moz-linear-gradient(top left,#646DCC 0%,#A7A5DB 100%);
  background: -o-linear-gradient(top left,#646DCC 0%,#A7A5DB 100%);
  background: linear-gradient(to bottom right,#646DCC 0%,#A7A5DB 100%);

}
.custom-shape-divider-bottom-1635768508 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635768508 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.custom-shape-divider-bottom-1635768508 .shape-fill {
  fill: #F1F1F1;
}


