<div class="wrapper">
  <button id="btn-abrir-popup" class="btn-abrir-popup" (click)="open()"
          style="background-color: #F0EDFF;
            border: 2px solid #CCA715;
             display: inline-block;
            font-size: 20px;
            border-radius: 50%;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            "
  >
    <i class="fa fa-plus fa-2x"
       style="margin-top: 3px;
              color: #FFC664"></i>
  </button>
</div>
<div class="overlay" id="overlay">
  <div class="popup" id="popup">
    <a id="btn-cerrar-popup" class="btn-cerrar-popup" (click)="close()"><i class="fa fa-times"></i></a>
    <h1>Post new product</h1>
    <h4>Fill in all the fields</h4>

    <form action="">
      <div class="contenedor-inputs">
        <input id = "product_name" (keyup)="onProductName($event)" type="text" placeholder="Name of the product" style="border: 2px solid #8E8CB9;">
        <input id = "product_price" (keyup)="onProductPrice($event)" type="price" placeholder="Price(EURO)" style="
          border: 2px solid #8E8CB9;">
        <select id = "product_category" formProductName="selectProduct" (change)="onProductCat($event)" class="form-control" style="border: 2px solid #8E8CB9;margin-bottom: 20px; color: #ABA9BC;">
          <option value="" selected disabled hidden>Select the category</option>
          <option [value]="item" *ngFor="let item of state.categories">{{item['name']}}</option>
        </select>
        <select id = "product_state" formProductName="selectProduct" (change)="onProductState($event)" class="form-control" style="margin-bottom: 20px;border: 2px solid #8E8CB9;color: #ABA9BC;">
          <option value="" selected disabled hidden>Select the state</option>
          <option value="New" >New</option>
          <option value="Worn out">Worn out</option>
          <option value="Deplorable">Deplorable</option>
        </select>
        <input id = "product_desc" type="description" (keyup)="onProductDesc($event)"  placeholder="Description" style="height:300px;border: 2px solid #8E8CB9;color: #ABA9BC;">

        <p for="img">Select image:</p>

        <input id = "product_img" type="file" style="border: 2px solid #8E8CB9; height: 70px" (change)="onFile($event)">

        <button id="btn-submit" (click)="postProduct()" class="ghost" id="signUp">Post product</button>

      </div>
    </form>
  </div>

</div>
