body {
  background-color: #F1F1F1;
}
.banner-wrapper {
  position: relative;
  background: #646DCC;
  min-height: 70vh;
  background: -webkit-linear-gradient(top left, #7E68C1 0%,#A7A5DB 100%);
  background: -moz-linear-gradient(top left,#646DCC 0%,#A7A5DB 100%);
  background: -o-linear-gradient(top left,#646DCC 0%,#A7A5DB 100%);
  background: linear-gradient(to bottom right,#646DCC 0%,#A7A5DB 100%);

}
.custom-shape-divider-bottom-1635768508 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635768508 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.custom-shape-divider-bottom-1635768508 .shape-fill {
  fill: #F1F1F1;
}

.wrapper {
  text-align: center;
}
.btn-abrir-popup{
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
}
* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  color: #7E68C1;
  font-weight: 640;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 20px 0 30px;
  color: #7E68C1;
}

span {
  font-size: 12px;
}

a {
  color: whitesmoke;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

a:hover{
  text-decoration: underline;
}

input {
  background-color: white;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  height: 60px;
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.2);
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  color: #7E68C1;
  transition-duration: 0.25s;
  font-weight: 300;
}
input::placeholder{
  color: #ABA9BC;
  opacity: 1;
}
input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
input:focus {
  background-color: white;
  width: 300px;
}

select {
  background-color: white;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  height: 60px;
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.2);
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  color: #7E68C1;
  transition-duration: 0.25s;
  font-weight: 300;
}
select::placeholder{
  color: #ABA9BC;
  opacity: 1;
}
select:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
select:focus {
  background-color: white;
  color: #7E68C1;
}

button {
  border-radius: 20px;
  border: 1px solid white;
  background-color: white;
  color: #7E68C1;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #7E68C1;
  color: #7E68C1;
}

.transparent-button {
  background-color: transparent;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-color: transparent;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
  margin-left: 70px;
  z-index: 2;
  position: absolute;
}

.transparent-button img{
  width: 60px;
  height: 40px;
  z-index: 2;
}

.transparent-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255,255,255,0.65), 0 0 40px rgba(255,255,255,0.65), 0 0 80px rgba(255,255,255,0.65);
}



.contenedor article .btn-abrir-popup {
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5E7DE3;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
  background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
  background: rgba(0,0,0,.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {

  background: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #A7A5DB;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-align: center;
  width: 65%;
  height: 75%;
  overflow: scroll;

  transition: .3s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: .3s ease all;
  color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
  color: #000;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
  color: #7E68C1;
  font-weight: bold;
}

.popup form .contenedor-inputs {
  opacity: 0;
}

.popup form .contenedor-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5E7DE3;
  border-rsadius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.popup form .btn-submit:hover {
  background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .2s ease .2s forwards; }
.popup.active h4 { animation: entradaSubtitulo .2s ease .2s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 0.5s linear 0.5s forwards; }

@keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaInputs {
  from { opacity: 0; }
  to { opacity: 1; }
}

