<div class="wrapper">
  <button class="transparent-button" (click)="onClickHome()" routerLink="/home">
    <img src="https://i.imgur.com/skLo9Yb.png">
  </button>

  <div class="container" id="container">
    <div class="form-container reset-password-container">
      <form [formGroup]="resetPasswordForm"  action="#">
        <h1>Reset Password</h1>
        <p>Enter your new password</p>
        <input [class.is-invalid]="password1!.invalid && password1!.touched"  type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Password" />
        <input [class.is-invalid]="password2!.invalid && password2!.touched" type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm" placeholder="Repeat Password" />



          <small *ngIf="showAlertInvalid" class="text-danger">Password is required</small>
          <!--question mark(?) is a safe navigator operator-->
          <small *ngIf="showAlertDifferentPasswords" class="text-danger">The passwords must match</small>


        <button style="margin-top: 20px" id="recoverPassword" (click)="validatePasswords()">Update password</button>
      </form>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
