<div class="wrapper">
  <button class="transparent-button" (click)="onClickHome()" routerLink="/home">
    <img src="../../assets/transparent-logo.png">
  </button>

  <div class="container" id="container">
    <div class="form-container reset-password-container">
      <form action="#">
        <h1>Reset Password</h1>
        <p>Enter your new password</p>
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Repeat Password" />
        <button style="margin-top: 20px" id="recoverPassword" (click)="onClickReset()" routerLink="/login-signup">Update password</button>
      </form>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
