<h2 mat-dialog-title>  What do you think about this seller?  </h2>
<mat-dialog-content>
  <form id="form">
    <fieldset class="stars">
      <input type="radio" name="stars" id="star1" ontouchstart="ontouchstart"/>
      <label class="fa fa-star" for="star1"></label>
      <input type="radio" name="stars" id="star2" ontouchstart="ontouchstart"/>
      <label class="fa fa-star" for="star2"></label>
      <input type="radio" name="stars" id="star3" ontouchstart="ontouchstart"/>
      <label class="fa fa-star" for="star3"></label>
      <input type="radio" name="stars" id="star4" ontouchstart="ontouchstart"/>
      <label class="fa fa-star" for="star4"></label>
      <input type="radio" name="stars" id="star5" ontouchstart="ontouchstart"/>
      <label class="fa fa-star" for="star5"></label>
      <input id="star-reset" type="radio" name="stars"/>
      <figure class="face"><i></i><i></i>
        <u>
          <div class="cover"></div>
        </u>
      </figure>
    </fieldset>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-button mat-dialog-close" (click)="submitRating()" >Submit</button>
  <button class="mat-button mat-dialog-close" (click)="this.dialogRef.close()">Cancel</button>
</mat-dialog-actions>
