<div class="wrapper">
  <button class="transparent-button" (click)="onClickHome()" routerLink="/home">
    <img src="../../assets/transparent-logo.png">
  </button>
  <div class="container" id="container">
    <div class="form-container recover-password-container" *ngIf="!showEmailSent">
      <form action="#">
        <h1>Recover Password</h1>
        <p>Enter your email address and you will be sent instructions on how to reset your password</p>
        <input type="email" placeholder="Email" />
        <button style="margin-top: 20px" id="recoverPassword" (click)="showEmailSent=!showEmailSent">Submit reset</button>
        <a href="#" (click)="onClickCancel()" routerLink="/login-signup">Cancel</a>
      </form>
    </div>
    <div class="form-container recover-password-container" *ngIf="showEmailSent">
      <form action="#">
        <h1>Thank you!</h1>
        <p>Please check your email</p>
      </form>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
