<app-search-bar></app-search-bar>
<div class="slide-container">
  <section class="row store-products" >
    <div class="col-md-3" *ngFor="let product of state.products">
      <div class="card product_card {{ product['category_id'] }}" style="width: 18rem; margin-bottom: 5%; margin-left: 20%; margin-right: 20%">
        <img class="card-img-top" style="height: 15rem" src="https://ubending.s3.eu-west-3.amazonaws.com/product{{ product['product_id'] }}.{{ product['image'] }}" alt="">
        <div class="card-body">
          <h5 class="product_name card-title">{{product['name']}}</h5>
          <p class="card-text">{{product['price']}}€<br>{{product['state']}}</p>
          <button class="btn" *ngIf="!isLogged" (click)="loginRequiered()" routerLink="/login-signup" style="background-color: #646DCC; color: white">BUY PRODUCT</button>
          <button class="btn" *ngIf="isLogged" (click)="openDialogPayment(product['product_id'],product['name'],product['description'],product['price'],product['image'])" style="background-color: #646DCC; color: white">BUY PRODUCT</button>
        </div>
      </div>
    </div>
  </section>

</div>
