<app-search-bar></app-search-bar>
<div class="tools-container">
  <div class="search-box">
    <form action="" onsubmit="return false">
      <input class="search-text" type="text" id="search" placeholder="Type to search by name">
      <a class="search-btn" (click)="searchByName()">
        <i class="fa fa-search"></i>
      </a>
    </form>
  </div>
  <div class="filter-box">
    <a class="btn" data-filter="all">All</a>
    <a class="btn" data-filter="Cars">Cars</a>
    <a class="btn" data-filter="Bikes">Bikes</a>
    <a class="btn" data-filter="Home">Home</a>
    <a class="btn" data-filter="Toys">Toys</a>
    <a class="btn" data-filter="Sports">Sports</a>
    <a class="btn" data-filter="Technology">Technology</a>
    <a class="btn" data-filter="Videogames">Videogames</a>
    <a class="btn" data-filter="Clothes">Clothes</a>
    <a class="btn" data-filter="Plants">Plants</a>
    <a class="btn" data-filter="Books">Books & Music</a>
    <a class="btn" data-filter="Cinema">Cinema</a>
    <a class="btn" data-filter="Pet adoption">Pet adoption</a>
  </div>
</div>

<body>
<section class="grid">
  <article class="card" *ngFor="let product of state.products">
    <span style="--i:0"></span>
    <span style="--i:1"></span>
    <span style="--i:2"></span>
    <span style="--i:3"></span>
    <div [id]="'liketext-' + product['product_id']" class="like-text">Wishlisted!</div>
    <div class="glass">
      <div class="like-ctn">
        <i [id]="'heart-' + product['product_id']" class="heart-class" (click)="wishlistAnimation(product['product_id'])"></i>
      </div>
      <div class="img-product">
        <img id="img" src="https://ubending.s3.eu-west-3.amazonaws.com/product{{ product['product_id'] }}.{{ product['image'] }}">
      </div>
      <div class="content-box">
        <h2>{{product['name']}}<br><i>{{product['price']}}€</i><br></h2>
        <a class="buy-btn" (click)="openDialogPayment(product['product_id'],product['name'],product['description'],product['price'],product['image'])">
          Buy Now
        </a>
      </div>
    </div>
  </article>
</section>
</body>
<app-footer></app-footer>

